<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="top-bar">
            <img src="/assets/images/burger.png" alt="burger" />
            <h1> Eat-Da-Burger! </h1>
            <h1>Add a burger or Eat a burger!</h1>
        </div>

    </div>

    <div id="center" class="col-lg-4">
        <form method="POST" action="burgers/create" class="newBurger">
            <input type="text" name="burger_name">
            <button type="submit" class="btn btn-warning">Add a Burger!</button>
        </form>
    </div>

    <!-- row div -->
    <div class="row">
        <div class="col-xs-12 col-md-6">

            {{#each burgerdata}}
            {{#unless this.devoured}}
            <p>{{this.burger_name}}</p>
            <button class="eatBurger" data-id="{{this.id}}">
                EAT-DA-BURGER!
            </button>
            {{/unless}}
            {{/each}}

            {{!-- the JS file that is in public_assets will have the ajax calls with the put/post and all --}}

        </div>

        <div class="col-xs-12 col-md-6">

            {{#each burgerdata}}
            {{#if this.devoured}}
            <p>{{this.burger_name}}</p>
            {{/if}}
            {{/each}}
            {{!-- the JS file that is in public_assets will have the ajax calls with the put/post and all --}}

        </div>
    </div>
</div>

{{!-- 
//Create a button in index.handlebars that will submit the user input into the database. --}}